<nav>
  <div class="text-muted my-1 clearfix" >
    {% include "title.html" %}
    <input id="tag_dfname" name="tag_dfname" type="hidden" value="{{ tag }}={{ dfname}}" />
    <div class="float-end">
      {% if not dfname in dflist.values() %}
      <button type="button" class="btn btn-primary"  cmd="orig_df">
        Show All 
      </button>
    {% endif %}
    <button id="report" type="button" class="loading btn btn-primary" cmd="show report">
      Show Report
    </button>
    <button class="btn btn-primary" cmd-target="{{ item_tag }}" cmd="slide" >
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </button>
    </div>
  </div>
</nav>
<div class="collapse show dfrow" id="{{ tag }}" >
  {% if item is none %}
  <span> No item is to display </span>
  {% else %}
  <table class="dftable w-100">
    {% for key, val in item.items() %}
    {% set opts = options[key] %}
    {% if opts["show"] %}
    <tr>
      <td>
        {% if show_all_records %}
        <input class="form-check-input" {{ opts["show_always"]  }} type="checkbox" value="{{key }}" name="show">
        <input class="form-check-input" {{ opts["match_always"]  }} type="checkbox" value="{{key }}" name="match">
        {% endif %}
        <span class="mx-2">
        {{ opts["title"] }}: 
        </span>
      </td>
      <td>
        <div class="row g-3 align-items-center">
          <div class="col-auto {{ opts['class'] }}"> {{ val | safe }}  
          {% if key in scores %}
          | {{ scores[key] }}
          {% endif %}
          </div>
          {% if opts["group"] %}
          <div class="col-auto">
            <select name="group@{{ key }}" class="form-control" id="group" >
              {% for g in groups[key] %}
              <option value="{{g}}" {{ 'selected'  if g == val else ''  }}   >{{g}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary"  cmd="group@{{ key }}" >
              <i class="fas fa-filter" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary"  cmd="chart@{{ key }}" >
              <i class="fas fa-chart-bar"></i>
            </button>
          </div>
          {% endif %}
          {% if opts["filter"] %}
          <div class="col-auto">
            <input type="text" placeholder="range ({{ ranges[key]['low'] }}-{{ ranges[key]['high'] }})" name="range@{{ key }}" class="form-control" id="filter" >
          </div>
          <div class="col-auto">
            <button class="btn btn-primary"  cmd="filter@{{ key }}" >
              <i class="fas fa-filter" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary"  cmd="sort@{{ key }}" >
              <i class="fas fa-sort-alpha-up" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary"  cmd="chart@{{ key }}" >
              <i class="fas fa-chart-bar"></i>
            </button>
          </div>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endif %}
    {% if opts["filter"] or opts["group"] %}
    <tr> 
      <td>
      </td>
      <td>
        <div id="chart_{{ key }}">
          {% if tag + "_" + key in images %}
          <img src="{{ url_for('static',filename=images[tag + "_" + key]) }}"  />
          {% endif %}
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    <!-- tr>
      <td colspan=3>
      <hr />
      <div class="container mt-2">
      <span class="container mr-5">
      <button type="button" class="btn btn-success">Relevant</button>
      <button type="button" class="btn btn-warning">Irrelevant</button>
      <button type="button" class="btn btn-danger">
      Nonsensical
      </button>
      </span>
      </div>
      </td>
      </tr -->
  </table>
  {% endif %}
  <input name="item_index" id="item_index" value="{{ item_index }}" type="hidden" />
  <nav class="clearfix my-2 dfnav">
    <ul class="pagination float-start m-0" >
      <li class="page-item" >
        {% if not item.bookmark  %}
        <a class="page-link" cmd="bookmark">Bookmark</a>
        {% else %}
        <a class="page-link" cmd="unbookmark">UnBookmark</a>
        {% endif %}
      </li>
      <li class="page-item" >
        {% if is_sync  %}
        <a class="page-link green" cmd="unsync" > Unsync </a>
        {% else %}
        <a class="page-link green" cmd="sync">Sync </a>
        {% endif %}
      </li>
      <li class="page-item" >
        {% if show_all_records  %}
        <a class="page-link green" cmd="show_less" > Show less </a>
        {% else %}
        <a class="page-link green" cmd="show_more"> Show more </a>
        {% endif %}
      </li>
      <li class="page-item" >
        <a class="page-link green" cmd="show_report" > Match Report </a>
      </li>
    </ul>
    <ul class="pagination float-end m-0">
      {% if item_index == 0 %}
      <li class="page-item disabled "> 
        {% else %}
        <li class="page-item "> 
          {% endif %}
          <a class="page-link" href="/"> Previous </a> 
        </li>
        <li class="page-item disabled"> <a class="page-link" href="#"> item {{ item_index + 1 }} of {{ total }} </a> </li>
        <li class="page-item"> <a class="page-link" href="/"> Last  </a> </li>
        {% if item_index == total -1 %}
        <li class="page-item disabled "> 
          {% else %}
          <li class="page-item "> 
            {% endif %}
            <a class="page-link" href="/"> Next </a> 
          </li>
    </ul>
    <span id="msg" class="error px-2"> </span>
  </nav>
</div>
